<div class="row">
	<div class="small-4 columns">
		<h1>Rooms</h1>
		<div>
			<p>Number of Rooms</p>

			<select id="rooms">
				<% (1..20).each do |i| %>
				<% if i == @rooms %>
				<option selected><%= i %></option>
				<% else %>			
				<option><%= i %></option>
				<% end %>
				<% end %>
			</select>
		</div>
	</div>


	<div class="small-4 columns">
		<h1>Providers</h1>
		<ul id="providerList">
			<% @providers.each do |provider| %>
			<li>
				<%= link_to provider.name, provider, method: :delete %>
			</li>
			<% end %>
		</ul>


		<%= form_for(@provider) do |f| %>
		<div class="row collapse">
			<div class="small-10 columns">
				<%= f.text_field :name, :placeholder => "Enter a new Provider" %>
			</div>
			<div class="small-2 columns">
				<%= f.submit "Add", "data-button"=>"button" %>
			</div>
		</div>
		<% end %>		

	</div>
	<div class="small-4 columns">
		<h1>Staff</h1>
		<ul id="maList">
			<% @mas.each do |ma| %>
			<li>
				<%= link_to ma.name, ma, method: :delete %>
			</li>
			<% end %>
		</ul>

		<%= form_for(@ma) do |f| %>
		<div class="row collapse">
			<div class="small-10 columns">
				<%= f.text_field :name, :placeholder => "Enter a new MA" %>
			</div>
			<div class="small-2 columns">
				<%= f.submit "Add", "data-button"=>"button" %>
			</div>
		</div>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="instructions small-5 small-centered columns">
		<h3>Enter a name and click 'Add' to create.</h3>
		<h3>Click name to delete.</h3>
		<h3>Have all users reload the App after editing this page.</h3>
		<i class="fa fa-smile-o fa-2x"></i>
	</div>
</div>
